name: Run Attendance Script

on:
  workflow_dispatch:  # Allows manual execution only

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt

      # Install Chrome
      - name: Install Chrome
        run: |
          sudo apt update
          sudo apt install -y chromium-browser
          CHROME_VERSION=$(chromium-browser --version | awk '{print $2}')
          CHROMEDRIVER_VERSION=$(curl -sS chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION)
          wget https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver

      # Run the Attendance script
      - name: Run Attendance Script
        run: python Attendance.py
