name: Run Attendance Script

on:
  workflow_dispatch:  # Allows manual execution only

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Install specific version of Google Chrome (version 135)
      - name: Install Google Chrome 135
        run: |
          # Download and install the specific version of Chrome 135
          wget https://dl.google.com/linux/direct/google-chrome-stable_135.0.7049.0-1_amd64.deb
          sudo apt install -y ./google-chrome-stable_135.0.7049.0-1_amd64.deb
          google-chrome --version

      # Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt

      # Clear WebDriver Manager Cache
      - name: Clear WebDriver Manager Cache
        run: rm -rf ~/.cache/selenium

      # Run the Attendance script
      - name: Run Attendance Script
        run: python Attendance.py
